:root {
  --level4: #202020;
  --level3: #181818;
  --level2: #141414;
  --level1: #0a0a0a;
  --shadow: #030303;
  --shadowSize: 2px;
  --letter3: #ffffff;
  --letter2: #d8d8d8;
  --letter1: #929292;
  --letter0: #343544;
}

.grid {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 100px 200px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.galleryContainer-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.galleryContainer-item-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.galleryContainer-item-link {
  left: 0;
  position: absolute;
  z-index: 50;
  height: 100%;
  width: 100%;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: all 1s ease;
  filter: brightness(0.6);
}

.galleryContainer-item:hover .galleryImage {
  transition: all 0.5s ease;
  filter: brightness(1);
  cursor: pointer;
}

.galleryContainer-item:hover .galleryContainer-item-cover {
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  pointer-events: none;
}

.w2 {
  grid-column: span 2;
}

.w4 {
  grid-column: span 4;
}

.h2 {
  grid-row: span 2;
}

.h3 {
  grid-row: span 3;
}

.h4 {
  grid-row: span 4;
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);

    grid-auto-rows: 100px;
  }

  .w2,
  .w4 {
    grid-column: span 1;
  }

  .h2,
  .h3,
  .h4 {
    grid-row: span 5;
  }
}
