:root {
  --level4: #202020;
  --level3: #181818;
  --level2: #141414;
  --level1: #0a0a0a;
  --shadow: #030303;
  --shadowSize: 2px;
  --letter3: #ffffff;
  --letter2: #d8d8d8;
  --letter1: #929292;
  --letter0: #343544;
}

.galleryImage2 {
  position: fixed;
  left: 50%;
  top: 50%;
  max-height: 95vh;
  max-width: 90%;
  transform: translate(-50%, -50%);
}

.galleryContainer-item-cover2 {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  transition: all 1s ease;
  overflow-y: hidden;
}
