:root {
  --level4: #202020;
  --level3: #181818;
  --level2: #0e0e0e;
  --level1: #0f0f0f;
  --shadow: #030303;
  --shadowSize: 2px;
  --letter3: #ffffff;
  --letter2: #d8d8d8;
  --letter1: #929292;
  --letter0: #343544;
  --marginSide: 5%;
  --marginTopBot: 2%;
}

.intro {
  top: 70px;
  height: 100vh;
  width: 100%;
  background-image: url(https://scontent-arn2-2.xx.fbcdn.net/v/t1.0-9/53320729_2307916852573920_8843470325413838848_o.jpg?_nc_cat=108&cb=846ca55b-311e05c7&ccb=2&_nc_sid=174925&_nc_ohc=qZxzmVyPk5UAX_IWWrc&_nc_ht=scontent-arn2-2.xx&oh=4ca14c2f93e29e1ee2c06f37f7a541b8&oe=6004D243);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.intro-presentation {
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

.name {
  color: var(--letter3);
  font-size: clamp(1em, 5vw, 2em);
  justify-self: center;
  letter-spacing: 8px;
  font-weight: 1;
}

.line {
  background-color: var(--letter3);
  height: 3px;
}

.positions {
  color: var(--letter3);
  height: 30px;
  font-size: clamp(0.8em, 3vw, 1.2em);
  display: flex;
  justify-content: space-around;
}

/* mid body */

.content {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  margin-left: var(--marginSide);
  margin-right: var(--marginSide);
  margin-top: var(--marginTopBot);
  margin-bottom: var(--marginTopBot);
  justify-content: space-evenly;
  background-color: var(--level2);
  box-shadow: 0px 0px 7px var(--shadowSize) var(--shadow);
  transition: all 1s ease;
}

/* about me */

.about-content {
  border: 2px solid transparent;
  margin-left: var(--marginSide);
  margin-right: var(--marginSide);
  margin-top: var(--marginTopBot);
  margin-bottom: var(--marginTopBot);
  background-color: var(--level2);
  box-shadow: 0px 0px 7px var(--shadowSize) var(--shadow);
  transition: all 1s ease;
}

.about-container {
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
}

.about-container-item {
  /* border: 2px solid cyan; */
}

.text {
  color: var(--letter3);
  max-width: 500px;
  min-width: 350px;
  align-self: center;
  text-align: center;
  font-size: clamp(0.8em, 3vw, 1.2em);
}

.picture {
  border-radius: 70px;
}

@media (max-width: 960px) {
  .content {
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    transition: all 1s ease;
  }

  .about-content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    transition: all 1s ease;
  }
}

@media (max-width: 660px) {
  .about-container {
    flex-wrap: wrap;
  }

  .text {
    transition: all 1s ease;
  }
}
