:root {
  --level4: #202020;
  --level3: #181818;
  --level2: #111111;
  --level1: #0a0a0a;
  --letter3: #ffffff;
  --letter2: #d8d8d8;
  --letter1: #929292;
  --letter0: #343544;
}

.content-item {
  max-width: 600px;
  width: 100%;
  min-height: 340px;
  position: relative;
  margin: 10px;
}

.content-item-vc {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  z-index: 50;
  cursor: pointer;
}

.videoButton {
  width: 100%;
  border-radius: 5px;

  box-shadow: 0px 0px 7px var(--shadowSize) var(--shadow);
}

.videoButton:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.content-item-text {
  position: absolute;
  z-index: 60;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(1em, 3vw, 2em);
  pointer-events: none;
  background-color: var(--letter3);
  color: var(--level1);
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
}

@media (max-width: 960px) {
  .content-item {
    max-width: 500px;
    min-height: 280px;
    transition: all 2s ease;
  }
}

@media (max-width: 500px) {
  .content-item {
    min-height: auto;
    height: 50vw;
    transition: all 0.1ms ease;
  }
}
