:root {
  --level4: #202020;
  --level3: #181818;
  --level2: #0e0e0e;
  --level1: #0f0f0f;
  --shadow: #030303;
  --shadowSize: 2px;
  --letter3: #ffffff;
  --letter2: #d8d8d8;
  --letter1: #929292;
  --letter0: rgb(85, 85, 85);
  --marginSide: 5%;
  --marginTopBot: 2%;
}

.photoSlider {
  position: absolute;
  top: 0;
  z-index: 100000;
  min-height: 100%;
  min-width: 100%;
}

.arrowContainer {
  position: fixed;
  z-index: 100000000000;
  top: 50%;
  transform: translate(0, -50%);
}

.next {
  right: 0;
}

.arrow,
.xSign {
  transform: scale(3);
  color: var(--letter1);
  cursor: pointer;
  margin: 1.5em;
  opacity: 0.2;
}

.arrow:hover,
.xSign:hover {
  opacity: 1;
  transition: all 0.3s ease;
}

.xContainer {
  position: fixed;
  z-index: 100000000000;
  cursor: pointer;
  right: 0;
}
