:root {
  --level4: #202020;
  --level3: #181818;
  --level2: #0e0e0e;
  --level1: #0c0c0c;
  background-color: rgb(9, 9, 9);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
